@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rozha+One&family=Trocchi&display=swap');

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

body {
    touch-action: manipulation;
}